/* change these */

@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=League+Spartan:wght@100;200;400;800&display=swap");
* {
  box-sizing: border-box;
}

/* THIS IS ALL meant for editing. You might want to do it differently, 
name the variables differently, 
use the fonts in other ways in the font hierarchy etc. */

/* change these */
:root {
  --c-color-white: #f9f3ed;
  --c-color-blue: #04658d;
  --c-color-red: #d1242d;
  --c-color-pink: #f8dadb;
  --c-color-navy-purple: #21192e;
  --c-color-sand: #f0a78d;

  --serif-font: "Cardo", serif;
  --sans-font: "League Spartan", sans-serif;

  --white-space: 1rem;
}

/* button {
  transition: all 3s;
}

a {
  transition: all 3s;
}

button:hover {
  background-color: var(--link-hover-color);
  transform: scale(3) rotate(40deg);
}

button:active {
  background-color: var(--bg-color);
} */

a:hover {
  color: var(--c-color-red);
}

html {
  font-size: 100%;
  font-family: var(--primary-font);
  background-color: var(--c-color-white);
}

img {
  max-width: 100px;
  height: auto;
}

header,
main,
footer {
  max-width: 1300px;
  margin: 0 auto;
  padding: calc(2 * var(--white-space));
}

.full-width {
  background: var(--bg-color);
  color: white;
  width: 100%;
}

.header-wrapper h1 {
  font-size: 5.2rem;
  font-family: var(--serif-font);
  color: var(--c-color-blue);
  font-style: italic;
}

.wraptxt {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
}

.wraptxt h1 {
  font-size: 5rem;
  font-family: var(--sans-font);
  color: var(--c-color-red);
  font-weight: 800;
  font-style: normal;
}

.wraptxt h2 {
  font-size: 4.5rem;
  font-family: var(--sans-font);
  color: var(--c-color-red);
  font-weight: 200;
  font-style: normal;
}

.header-wrapper h3 {
  font-size: 1.2rem;
  color: var(--c-color-blue);
  font-family: var(--sans-font);
}

.header-wrapper h4 {
  font-size: 0.8rem;
}

main {
  padding: calc(2 * var(--white-space));
}

section {
  margin-bottom: calc(4 * var(--white-space));
}

.section-heading {
  font-family: var(--sans-font);
  font-style: italic;
  font-size: 1.3rem;
  color: var(--c-color-sand);
  margin: 0.5rem 0;
}

ul {
  display: flex;
  justify-content: space-between;
}

.swatches li {
  margin-right: 5vw;
  height: 15vw;
  width: 20%;
}

ul li:last-child {
  margin-right: 0;
}

.color-swatch-1 {
  background-color: var(--c-color-red);
}

.color-swatch-2 {
  background-color: var(--c-color-sand);
}

.color-swatch-3 {
  background-color: var(--c-color-pink);
}

.color-swatch-4 {
  background-color: var(--c-color-white);
  border: 1px solid var(--c-color-navy-purple);
}

.color-swatch-5 {
  background-color: var(--c-color-blue);
}
.color-swatch-6 {
  background-color: var(--c-color-navy-purple);
}

.textures li {
  height: 30vw;
  width: 40%;
  margin-right: 5vw;
}

/* .texture-swatch-1 {
  background: url(../img/pw_maze_white.png) top left repeat;
}

.texture-swatch-2 {
  background: url(../img/subtle_grunge.png) top left repeat;
}

.texture-swatch-1 {
  background: url(../img/pw_maze_white.png) top left repeat;
}

.texture-swatch-3 {
  background: url(../img/white_paperboard.png) top left repeat;
} */

.wrapimg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.images ul {
  flex-direction: column;
  text-align: center;
}

.images li {
  display: block;
  /*margin-right: 5vw;*/
  margin-bottom: 1rem;
}

button {
  padding: 1rem;
  border-radius: 4px;
  background: var(--link-color);
  text-align: center;
  text-decoration: none;
  font: bold 1.25em/1 var(--primary-font);
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  text-shadow: 0px -1px 0px #0374a0;
  transition: all 0.2s ease;
  cursor: pointer;
  margin: 0 1rem 0 0; /* 22S - 0 margin-bottom mobile */
}

.secondary-button {
  background: var(--color-5);
}

button:focus,
button:active,
button:focus-within {
  outline: 0;
  border-radius: 4px;
}

.typography-main {
  color: var(--main-text-color);
}

.h1-sample {
  font-size: 2.4rem;
  font-family: var(--sans-font);
  color: var(--c-color-blue);
}

.h2-sample {
  font-family: var(--sans-font);
  font-style: italic;
  font-size: 1.25rem;
  color: var(--c-color-blue);
}

p.typography-sample-1 {
  font-family: var(--sans-font);
  line-height: 1.5;
  max-width: 960px;
  color: var(--c-color-blue);
  margin-bottom: 1rem;
}

p.typography-sample-2 {
  font-family: var(--serif-font);
  line-height: 1.5;
  max-width: 960px;
  color: var(--c-color-blue);
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  font-family: var(--sans-font);
  color: var(--c-color-blue);
  font-weight: 500;
  text-decoration: none;
}

p[class*="font-details-"] {
  margin-top: 0.5rem;
  margin-bottom: calc(2 * var(--white-space));
  font-size: 0.75rem;
  font-family: var(--secondary-font);
  color: #6f6f6f;
}

.adjectives ul {
  font-size: 2rem;
  opacity: 0.5;
}

.adjectives ul {
  flex-direction: column;
}

footer {
  font-style: italic;
}

@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }

  .swatches li {
    margin-right: 3%;
    height: 10vw;
    /* width: 20%; 22s - already in mobile */
  }

  .textures li {
    height: 15vw;
  }
}

@media (min-width: 900px) {
  .adjectives ul {
    flex-direction: row;
  }
}
